# Created by https://www.toptal.com/developers/gitignore/api/hsp
# Edit at https://www.toptal.com/developers/gitignore?templates=hsp

### HSP ###
# Object files
hsptmp*
packfile
obj
*.ax

# Binaries
*.exe
*.dpm

# End of https://www.toptal.com/developers/gitignore/api/hsp

# build-exeのビルド・実行で生成される副産物
build_result.txt
build_error.txt
build_exe_name.txt
